@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --primary-color: #131212;
    --secondary-color: #830303;
    --search-color: #fff;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    padding: 1.6rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color)
}
header p {
    font-family: 'Anton', sans-serif;
    font-size: xx-large; 
    margin: 0;
    font-weight: bold;
    text-shadow: 0 0 1rem #fff;
}
.search {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 5rem;
    font-family: inherit;
    font-size: 1.6rem;
    padding: 0.8rem 1.6rem;
    color: #fff;
}
.search::placeholder {
    color: var(--search-color);
}
.search:focus {
    outline: none;
    background-color: var(--primary-color);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.movie {
    width: 30rem;
    margin: 1.6rem;
    background-color: var(--secondary-color);
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 0.3rem;
}
.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1.6rem 1.6rem;
    letter-spacing: 0.05rem;
}
.movie-info h3 {
    margin-top: 0;
}
.movie-info span {
    background-color: var(--primary-color);
    padding: 0.4rem;
    border-radius: 0.3rem;
    font-weight: bold;
}
.movie-info span.green {
    color: lightgreen;   
}
.movie-info span.orange {
    color: orange;   
}
.movie-info span.red {
    color: red;   
}

.overview {
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    padding: 3.2rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}
.movie:hover .overview{
    transform: translateY(0);
}